<div class="page text">
  <mat-card id="introduction">
    <mat-card-title>
      Introduction
    </mat-card-title>
    <mat-card-content>
      <p>Plastic is one of the biggest issues we face these days. Ever heard of micro plastics?.. No me neither, until I stumbled on this video:</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/beUhzQAkanM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>After watching this video I was shocked to see that micro plastics where found in the products we eat. That's why I decided to do my challenge about plastic pollution.</p>
    </mat-card-content>
  </mat-card>

  <mat-card id="global-production">
    <mat-card-title>
      Global production of plastic
    </mat-card-title>
    <mat-card-content>
      <p>Plastic was a great solution in the food packaging industry, first they had to use glass bottles for transporting drinks but when they created plastic bottles this had an huge impact on the production process, since it was way cheaper and faster in production. Back then they didn't know that plastic would became such a problem. In 1950 the world produced only 2 million tonnes of plastic a year. Since then, annual production has increased nearly 200-fold, reaching 381 million tonnes in 2015.</p>
      <iframe src="https://ourworldindata.org/grapher/global-plastics-production?time=1950..2015" style="width: 100%; height: 600px; border: 0px none;"></iframe>
    </mat-card-content>
  </mat-card>

  <mat-card id="where-does-it-come-from">
    <mat-card-title>
     Where does it come from?
    </mat-card-title>
    <mat-card-content>
      <p>Where is this plastic coming from and how does it end up in the ocean? Most of the plastic today is used for packaging. Have you ever bought something that wasn't wrapped in plastic? When we go to the store we usually buy some fruits or bread, all those foods are wrapped in plastic. And for how long do we use this plastic? Once maybe twice... This is called the "singe use plastics". They are the worst because we use them once and then throw them away, often in a trash bin on our way home or even worse they end up laying on the streets.</p>
      <iframe src="https://ourworldindata.org/grapher/plastic-production-by-sector" style="width: 100%; height: 600px; border: 0px none;"></iframe>
    </mat-card-content>
  </mat-card>

  <mat-card id="what-can-we-do">
    <mat-card-title>
      What can we do against it?
    </mat-card-title>
    <mat-card-content>
      <p>How can we fight against plastic pollution? There are multiple ways to fight plastic pollution let's first start with the things you yourself can do:</p>
      <ul>
        <li>Reduce Your Use of Single-Use Plastics</li>
        <p>Wherever you live, the easiest and most direct way that you can get started is by reducing your own use of single-use plastics. Single-use plastics include plastic bags, water bottles, straws, cups, utensils, dry cleaning bags, take-out containers, and any other plastic items that are used once and then discarded.</p>
        <li>Recycle Properly</li>
        <p>Plastic isn't always recycled the correct why, this simply because people don't know how to do this correctly. A good source to learn how to recycle is: <a target="_blank" href="http://www.plasticheroes.nl/hoe">http://www.plasticheroes.nl/hoe</a></p>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Interactive map
    </mat-card-title>
    <mat-card-content>
      <a routerLink="map" mat-raised-button color="primary">map</a>
    </mat-card-content>
  </mat-card>
</div>
